
package ${package}.domain.entity.${moduleName};

import com.baomidou.mybatisplus.annotation.FieldFill;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.extension.activerecord.Model;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import lombok.EqualsAndHashCode;
    #if(${hasBigDecimal})
    import java.math.BigDecimal;
    #end
import java.util.Date;
import java.io.Serializable;
import java.time.LocalDateTime;
import com.fasterxml.jackson.databind.ser.std.ToStringSerializer;
import com.fasterxml.jackson.annotation.JsonFormat;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@TableName("${tableName}")
@EqualsAndHashCode(callSuper = true)
@ApiModel(value = "${comments}")
public class ${className} extends Model<${className}> {
private static final long serialVersionUID=1L;

#foreach ($column in $columns)
    /**
     * $column.comments
     */
    #if($column.columnName == $pk.columnName)
    @TableId
    @JsonSerialize(using = ToStringSerializer.class)
    #end
    #if($column.attrType == "Date")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    #end
    #if($column.caseAttrName == "modifiedTime"||$column.caseAttrName == "updateId")
    @TableField(value="$column.lowerAttrName", fill = FieldFill.INSERT_UPDATE)
    #end
    #if($column.caseAttrName == "createTime"||$column.caseAttrName == "createId")
    @TableField(value="$column.lowerAttrName", fill = FieldFill.INSERT)
    #end
    @ApiModelProperty(value = "$column.comments"#if($column.hidden), hidden =$column.hidden#end)

    #if($column.caseAttrName != "createTime"&&$column.caseAttrName != "createId"&&$column.caseAttrName != "modifiedTime"&&$column.caseAttrName != "updateId")
    @TableField("$column.lowerAttrName")
    #end
    private $column.attrType $column.caseAttrName;
#end
}
